<div class="footer">
  <div class="menu limiter">
    <div class="tabs">
      <p class="tab" (click)="changeActualBlock('home')">{{'landing.navigation.home' | translate}}</p>
      <p class="tab" (click)="changeActualBlock('pets')">{{'landing.navigation.pets' | translate}}</p>
      <p class="tab" (click)="changeActualBlock('seasons')">{{'landing.navigation.seasons' | translate}}</p>
      <p class="tab" (click)="changeActualBlock('partners')">{{'landing.navigation.partners' | translate}}</p>
      <p class="tab" (click)="changeActualBlock('community')">{{'landing.navigation.community' | translate}}</p>
      <!-- TODO: set links -->
      <p class="tab"><a href="#" target="_blank">{{'landing.navigation.marketplace' | translate}}</a></p>
      <p class="tab"><a href="#" target="_blank">{{'landing.navigation.terms' | translate}}</a></p>
      <p class="tab"><a href="#" target="_blank">{{'landing.navigation.whitepaper' | translate}}</a></p>
      <p class="tab"><a href="#" target="_blank">{{'landing.navigation.privacy' | translate}}</a></p>
    </div>
    <div class="logo">
      <img src="assets/images/logo_footer.svg" />
    </div>
  </div>
</div>
