<div class="main block">
  <div class="limiter">
    <div class="title">
      <img src="assets/images/logo.svg" class="logo">
      <h2 class="claim">{{'landing.mainBlock.claim' | translate}}</h2>
      <div class="buttons">
        <!-- TODO: set correct links -->
        <a class="button" href="https://bamboodefi.com/" target="_blank">
          <img src="assets/images/buttons/button_purple.svg" class="image" />
          <span class="text">{{'landing.mainBlock.button1' | translate}}</span>
        </a>
        <a class="button" href="http://testnl.ovh/" target="_blank">
          <img src="assets/images/buttons/button_purple.svg" class="image" />
          <span class="text">{{'landing.mainBlock.button2' | translate}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="background">
    <div class="limiter desktop">
      <img src="assets/images/main_background_desktop.svg" />
    </div>
    <div class="limiter mobile">
      <img src="assets/images/main_background_mobile.svg" />
    </div>
  </div>
</div>
