<div class="joinus block">
  <div class="limiter">
    <app-section-title [title]="'Join us!'" [shadowColor]="'purple'"></app-section-title>
  </div>
  <div class="rrss">
    <div class="banner">
      <img src="assets/images/join_banner.svg" class="image desktop">
      <img src="assets/images/join_banner_mobile.svg" class="image mobile">
      <a href="https://medium.com/@hashapon" target="_blank">
        <img class="rrss-icon medium" src="assets/images/rrss/medium-purple.svg">
      </a>
      <a href="https://twitter.com/Hashapon" target="_blank">
        <img class="rrss-icon twitter" src="assets/images/rrss/twitter-purple.svg">
      </a>
      <!-- TODO: add en/es telegram with translation -->
      <a href="https://t.me/BambooDeFi" target="_blank">
        <img class="rrss-icon telegram" src="assets/images/rrss/telegram-purple.svg">
      </a>
      <a href="https://instagram.com/hashapon" target="_blank">
        <img class="rrss-icon instagram" src="assets/images/rrss/instagram-purple.svg">
      </a>
    </div>
  </div>
</div>
