<div class="seasons block">
  <div class="limiter">
    <app-section-title [title]="'landing.seasonsBlock.title' | translate" [shadowColor]="'yellow'"></app-section-title>
    <div class="subtitle">
      <img src="assets/images/egg_clock.svg" />
      <h2>{{'landing.seasonsBlock.subtitle' | translate}}</h2>
    </div>
    <p class="description">
      <span>{{'landing.seasonsBlock.description' | translate}}</span>
      <span class="bold">{{'landing.seasonsBlock.descriptionBold' | translate}}</span>
    </p>
    <app-subsection-title [title]="'landing.seasonsBlock.tournaments.title' | translate" [color]="'light'" [align]="'left'"></app-subsection-title>
    <div class="grid">
      <div class="text1">
        <p>{{'landing.seasonsBlock.tournaments.text1' | translate}}</p>
        <p class="bold">{{'landing.seasonsBlock.tournaments.text2' | translate}}</p>
        <div class="buttons">
          <!-- TODO: set correct link -->
          <a class="button" href="https://bamboodefi.com/" target="_blank">
            <img src="assets/images/buttons/button_purple.svg" class="image" />
            <span class="text">{{'landing.seasonsBlock.tournaments.button1' | translate}}</span>
          </a>
        </div>
      </div>
      <img src="assets/images/tournaments/tournaments1.png" class="image1" />
      <img src="assets/images/tournaments/tournaments2.png" class="image2"/>
      <div class="text2">
        <img src="assets/images/medal.svg" />
        <p>{{'landing.seasonsBlock.tournaments.text3' | translate}}</p>
        <div class="buttons">
          <!-- TODO: set correct link -->
          <a class="button" href="https://bamboodefi.com/" target="_blank">
            <img src="assets/images/buttons/button_purple.svg" class="image" />
            <span class="text">{{'landing.seasonsBlock.tournaments.button2' | translate}}</span>
          </a>
        </div>
      </div>

      <div class="bamboo">
        <div class="bamboo-wrapper">
          <img src="assets/images/bamboo/bamboo_stick.svg" class="trunk trunk-desktop">
          <img src="assets/images/bamboo/bamboo_stick_mobile.svg" class="trunk trunk-mobile">
          <img src="assets/images/bamboo/leaf1.svg" class="leaf leaf1">
          <img src="assets/images/bamboo/leaf2.svg" class="leaf leaf2">
          <img src="assets/images/bamboo/leaf3.svg" class="leaf leaf3">
          <img src="assets/images/bamboo/leaf4.svg" class="leaf leaf4">
        </div>
      </div>
    </div>
    </div>
</div>
