<div class="bamboo block">
  <div class="limiter">
    <app-subsection-title [title]="'landing.bambooBlock.title' | translate" [align]="'left'" [color]="'light'"></app-subsection-title>
    <div class="grid">
      <p class="text text1">{{'landing.bambooBlock.text1' | translate}}</p>
      <p class="text text2">{{'landing.bambooBlock.text2' | translate}}</p>
      <div class="buttons">
        <!-- TODO: set correct link -->
        <a class="button" href="https://bamboodefi.com/" target="_blank">
          <img src="assets/images/buttons/button_purple.svg" class="image" />
          <span class="text">{{'landing.bambooBlock.button' | translate}}</span>
        </a>
      </div>
      <div class="coins">
        <img src="assets/images/coins/bamboo_coins.svg" class="image" />
      </div>
    </div>
  </div>
</div>
