<div class="world block">
  <div class="limiter">
    <app-section-title [title]="'landing.worldBlock.title' | translate" [shadowColor]="'yellow'"></app-section-title>
    <div class="content">
      <div class="image">
        <img src="assets/images/playground.png">
      </div>
      <div class="description">
        <p class="text">{{'landing.worldBlock.text' | translate}}</p>
        <div class="buttons">
          <!-- TODO: set correct link -->
          <a class="button" href="http://testnl.ovh/" target="_blank">
            <img src="assets/images/buttons/button_purple.svg" class="image" />
            <span class="text">{{'landing.worldBlock.button' | translate}}</span>
          </a>
        </div>
        <img src="assets/images/world_bear.svg" />
      </div>
    </div>
  </div>
</div>
